.orange-bg{

    background-color: #f7eaeafa;
    border-radius:6px;
    margin-top: 100px;
}
.carousel-item{padding:20px 40px;}
.price{
    color:#ff136F;
}
.buy-now-button{ background-image: linear-gradient(to bottom,#ff589B 0%,#ff236f 100%);
                color: #fff;
                border: none;
                border-radius: 8px;
                padding: 9px 25px;
                cursor:wait;

}
.cat1{background-color:orange;}
.cat2{background-color: orchid;}
.cat3{background-color: blue;}

.cat1,.cat2,.cat3{padding:10px 30px ;}


.row{margin-top: 80px;margin-bottom: 80px;}

.categories h1{color: white;}

.categories img{width:100px ;}
.categories div{border-radius: 5px;}


.card-deck{margin-bottom:80px; 
          margin-top:80px ;   
}
 

.card{border:none;
    box-shadow: 5px 5px 12px lightpink;

}

.card-footer{
    background-color:white ;
    border: none;
    align-items: flex-end;
}

 

#subscribe{height: 350px ;}  
  

#subscribe h6{color: grey;}